<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.mybatis.mapper.MaleHealthFormMapper">

    <sql id="maleHealthFormCols">
        id, heart, liver, spleen, lung, kidney, prostate, note
    </sql>

    <select id="getMaleHealthForm" parameterType="long" resultType="MaleHealthForm">
        SELECT
        <include refid="maleHealthFormCols"/>
        FROM t_male_health_form
        WHERE id=#{id}
    </select>

</mapper>